*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container{
    width: 450px;
    background-color:cadetblue;
    border-radius: 20px;
    text-align: center;
    height: 650px;
    margin: 50px;
    padding: 50px;
}



h1{
    margin: 50px;
    padding: 50px;
    background-color: bisque;
    border-radius: 20px;
}

.username{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: khaki;
    text-align: center;
}
.password{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: khaki;
    text-align: center;
}
.login .botton{
    color: brown;
   
}

.forgetpassword{
    margin: 10px;
    padding: 10px;
    color: red;
    
}
   
